[2016-10-12 21:57] gsanhueza opened #1 "RU 000: Issue de prueba"
Requisito: Crear una Issue de prueba _decente_

RS 000 #2

[2016-10-12 21:58] gsanhueza opened #2 "RS 000: Fix issue de prueba"
- Descripcion:
- Fuente:
- Prioridad:
- Estabilidad:
- Fecha Actualizacion:
- Estado:
- Incremento:
- Tipo:
- Usuario Asociado:

Requistitos de Usuario asociados:
1. (Link RU)
- [ ] Initialization
- [ ] Concept Location
- [ ] Impact Analysis
- [ ] Prefactoring
- [ ] Change Propagation
- [ ] Verification
- [ ] Postfactoring
- [ ] Conclusion

[2016-10-12 21:59] gsanhueza commented on #2
Aqui deben haber fases de mantenimiento, entre los comentarios que haremos...

[2016-10-12 22:00] gsanhueza commented on #2
Solo los requisitos de Software deben ser asignados a gente... y puede ser más de una persona

[2016-10-12 22:12] belisariops opened #3 "RU 001: Debilidad ataques"
Modificar los ataques para que sean afectados por debilidad y resistencia y que utilicen las
estadísticas de ataque especial y defensa especial para los ataques no físicos.
#15 - RS 001
#16 - RS 002
#17 - RS 003

[2016-10-12 22:15] belisariops opened #4 "RU 002: Nuevos ataques y personajes"
Agregar nuevos personajes y ataques
#18 #19 #21

[2016-10-12 22:17] belisariops opened #5 "RU 003: Agregar almacenamiento personajes"
Agregar almacenamiento para personajes que han sido capturados y no pueden estar en el equipo
(El equipo tiene máximo 4 personajes)
#23
#25

[2016-10-12 22:18] belisariops opened #6 "RU 004: Agregar efecto de climas"
Efectos del clima. Crear lluvia, nieve, soleado, entre otros para las etapas, y que el clima afecte en el ataque de los personajes, por ejemplo ataques tipo agua son más fuertes si está lloviendo.
#22

[2016-10-12 22:20] martinpanza opened #7 "RU 012: Cargar Características de Personajes"
A partir de un archivo cargar características de los personajes tales como estadísticas, imágenes, sonidos, animaciones (inicio-fin o secuencia de animación).

[2016-10-12 22:20] belisariops opened #8 "RU 005: Agregar habilidades especiales a personajes"
Agregar habilidades únicas a los personajes. Por ejemplo, que un personaje de tipo agua se mueva mas rápido.

[2016-10-12 22:21] belisariops opened #9 "RU 006: Crear agua"
Agregar agua como plataformas que se puedan atravesar (nadar).

[2016-10-12 22:21] martinpanza opened #10 "RU 011 Agregar Botón de Juego Nuevo"
Agregar botón de juego nuevo, y agregar N slots en la cantidad de saves disponibles, no cargar archivos .sav corruptos.

[2016-10-12 22:22] belisariops opened #11 "RU 007: Solucionar bug de desplazamiento"
Arreglar bug de desplazamiento (Algunas plataformas contiguas no te dejan avanzar por lo que es necesario saltar).
#20 RS 005 Bug colision plataformas.

[2016-10-12 22:23] martinpanza opened #12 "RU 010 Agregar botón "Options""
Agregar funcionalidad del botón "Options", como manejo del sonido, brillo, windowed o full screen.

[2016-10-12 22:24] martinpanza opened #13 "RU 009 Añadir Efectos de Sonido"
Añadir efectos de sonido cuando se realiza un ataque, un salto, etc.

[2016-10-12 22:25] belisariops opened #14 "RU 008: Crear nuevo modo survival"
Nuevo modo de juego Survival. Una etapa infinita en la que van apareciendo enemigos de mayor nivel a medida que se avanza.

[2016-10-13 20:00] belisariops opened #15 "RS 001: Tipo de pokemon"
- Descripcion: Los Pokemon necesitan un atributo llamado Tipo, el cual afecta la fortaleza de sus ataques, y la resistencia de ataques enemigos. Se necesita implementar lo anterior.
- Fuente: Juaquin Torres, Sergio.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualizacion: 26/10/2016
- Estado: Cumple.
- Incremento: 1.
- Tipo: Funcional.
- Usuario Asociado: Usuario de la aplicación.

[2016-10-13 20:01] belisariops opened #16 "RS 002: Agregar tipo de cada ataque"
- Descripción: Agregar tipo asociado a cada ataque, ese trabaja en conjunto con el Tipo del pokemon para determinar su eficacia.
- Fuente: Joaquin Torres, Sergio.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualización: 26/10/2016
- Estado: Cumple.
- Incremento: 1.
- Tipo: Funcional.
- Usuario Asociado: Usuario de la aplicación.

Requisitos de Usuario asociados:
1. [RU 001: Debilid

[2016-10-13 20:03] belisariops opened #17 "RS 003: Formula de daño"
- Descripción: Cambiar formula de daño para que varíe con el tipo del ataque y pokemon.
- Fuente: Juaquin Torres, Sergio.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualizacion: 26/10/2016
- Estado: Cumple.
- Incremento: 1.
- Tipo: Funcional.
- Usuario Asociado: Usuario de la aplicación.

Requistitos de Usuario asociados:
1. [RU 001: Debilidad ataques](https://github.com/belisario

[2016-10-13 20:06] Afromatico opened #18 "RS 004: Stats bases nuevos"
- Descripcion: Asignar valores base para cada tipo de nueva criatura.
- Fuente:
- Prioridad:
- Estabilidad:
- Fecha Actualizacion:
- Estado:
- Incremento:
- Tipo:
- Usuario Asociado:

Requistitos de Usuario asociados:
1. [RU 002:Nuevos ataques y personajes](https://github.com/belisariops/ATK/wiki/Requisitos-de-Usuario#ru-002-nuevos-ataques-y-personajes)
- [x] Initialization
- [x] Concept Location

[2016-10-13 20:10] Afromatico opened #19 "RS 005: Nuevos Pokemones"
- Descripcion: Agregar nuevos personajes al juego para que el jugador pueda utilizarlos.
- Fuente: Cliente
- Prioridad: Critica
- Estabilidad: Intransable
- Fecha Actualizacion: 06-12-2016
- Estado: Cumple
- Incremento: 3
- Tipo: Funcional
- Usuario Asociado: Jugador

Requistitos de Usuario asociados:
1. [RU 001: Debilidad ataques](https://github.com/belisariops/ATK/wiki/Requisitos-de-Usuario#ru-0

[2016-10-13 20:11] CristobalVelasquezV opened #20 "RS 006: Bug Desplazamiento"
- Descripcion: Existen plataformas que parecen estar juntas pero existe una pequeña colisión que impide avanzar al personaje. El problema parece deberse al sobrelapamiento de plataformas.
- Fuente:
- Prioridad:
- Estabilidad:
- Fecha Actualizacion:
- Estado:
- Incremento:
- Tipo:
- Usuario Asociado:

Requistitos de Usuario asociados:
1.
- [ ] Initialization
- [ ] Concept Location
- [ ] Impact Anal

[2016-10-13 20:14] Afromatico opened #21 "RS 007: Nuevos Ataques"
- Descripcion: Nuevos ataques para los antiguos y nuevos personajes.
- Fuente: Cliente
- Prioridad:
- Estabilidad:  Intransable
- Fecha Actualizacion:
- Estado: No cumple
- Incremento: 0
- Tipo: Funcional
- Usuario Asociado: Usuario de la aplicación.

Requistitos de Usuario asociados:
[ RU002: Agrega rnuevos ataques y personajes](https://github.com/belisariops/ATK/wiki/Requisitos-de-Usuario#ru-002

[2016-10-13 20:24] jaevespinoza opened #22 "RS 008: Clima"
- Descripcion: Implementar y crear los efectos de clima en el juego
- Fuente:
- Prioridad: Critica
- Estabilidad: Intransable
- Fecha Actualizacion: 27/10/2016 18:00
- Incremento: 0
- Tipo: Funcional

Requistitos de Usuario asociados:
1. RU004: Clima
- [x] Initialization
- [x] Concept Location
- [x] Impact Analysis
- [x] Prefactoring
- [x] Change Propagation
- [x] Verification
- [x] Postfactoring

[2016-10-13 20:37] Afromatico opened #23 "RS 009: PC"
- Descripcion: Implementar un almacenamiento y sistema de intercambio de pokemon, entre un grupo guardado en el PokemonComputer y  los cuatro pokemon del equipo que se tiene al estar jugando.
- Fuente: Joaquin Torres, Sergio Peñafiel.
- Prioridad: Critica
- Estabilidad: Intransable
- Fecha Actualizacion: 04/12/2016
- Estado: Cumple.
- Incremento: 1
- Tipo: Funcional.
- Usuario Asociado: Usuario de

[2016-10-18 19:48] Benrodf opened #24 "RS 010: Bugs Pokebola"
- Descripción: Ocasionalmente, al atrapar un pokemon y desaparecer, el colider de la entidad sigue existiendo (de forma invisible), haciendo imposible atravesar con tu personaje por ese sector. Por otro lado, mientras se está en el proceso de atrapar un pokemon (cuando la pokebola se balancea), una "versión invisible del pokemon" sigue la trayectoria que éste llevaba antes de ser atrapado y contin

[2016-10-18 20:41] belisariops opened #25 "RS 011: Implementar PC en Hero"
- Descripcion: Implementar un sistema de almacenamiento para los Pokemon en caso de tener los cuatro cupos del equipo jugable llenos, dentro de la clase Hero, para su posterior utilización en el PokeComputer (PC).
- Fuente: Joaquin Torres, Sergio Peñafiel.
- Prioridad: Critica
- Estabilidad: Intransable
- Fecha Actualizacion: 03/11/2016
- Estado: Cumple.
- Incremento: 1
- Tipo: Funcional.
- Usuari

[2016-10-18 20:46] belisariops opened #26 "RS 012: Botones pantalla principal"
- Descripcion:  Agregar dos botones, uno que carge un juego anterior y otro que agregue un nuevo juego
- Fuente: Juaquin Torres, Sergio.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualizacion: 25/10/2016
- Estado: Cumple.
- Incremento: 0.
- Tipo: Funcional.
- Usuario Asociado: Usuario de la aplicacion..

Requistitos de Usuario asociados:
1. [RU 010: Agregar botones "New Game" y "L

[2016-10-19 21:13] belisariops opened #27 "RS 013: Crear menu de opciones"
- Descripción: El botón de opciones no tiene utilidad, por lo que se pide agregar opciones para modificar brillo, volumen y estado de la ventana.
- Fuente: Joaquin Torres.
- Prioridad: Crítica.
- Estabilidad: Intransable.
- Fecha Actualización: 10/11/2016 17:51:00.
- Incremento: 1.
- Tipo: Funcional.

Requisitos de Usuario asociados:
1. [RU 013: Implementar opciones](https://github.com/belisariops

[2016-10-19 22:13] Afromatico opened #28 "RS 014: Menu cargar juego"
- Descripcion: En la version actual solo se puden cargar dos juegos antiguos, ahora se quiere cargar N partidas.
- Fuente: Juaquin Torres, Sergio.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualizacion: 25/10/2016
- Estado: Cumple.
- Incremento: 0.
- Tipo: Funcional.
- Usuario Asociado: Usuario de la aplicacion..

Requistitos de Usuario asociados:
1. [RU 010: Agregar botones "New

[2016-10-19 22:36] gsanhueza commented on #27
**Initialization**

Implementar menú de opciones

[2016-10-20 20:09] #4 closed, assigned to nobody

[2016-10-20 20:09] #5 closed, assigned to nobody

[2016-10-20 20:09] #6 closed, assigned to nobody

[2016-10-20 20:09] #7 closed, assigned to nobody

[2016-10-20 20:09] #8 closed, assigned to nobody

[2016-10-20 20:09] #9 closed, assigned to nobody

[2016-10-20 20:09] #10 closed, assigned to nobody

[2016-10-20 20:09] #11 closed, assigned to nobody

[2016-10-20 20:09] #12 closed, assigned to gsanhueza

[2016-10-20 20:09] #13 closed, assigned to nobody

[2016-10-20 20:10] #14 closed, assigned to nobody

[2016-10-20 20:10] #1 closed, assigned to nobody

[2016-10-20 20:10] #3 closed, assigned to nobody

[2016-10-20 20:16] martinpanza commented on #17
### Concept Location

Formula, Damage, Attack Type, Pokemon Type

[2016-10-24 17:25] belisariops opened #30 "RS 015: Modo Survival"
- Descripcion: El modo survival es un modo de juego en el cual se debe sobrevivir la mayor cantidad de tiempo mientras hordas de enemigos intentan matar al jugador.
- Fuente: Joaquin Torres, Sergio Peñafiel.
- Prioridad: Criticia.
- Estabilidad: Intransable
- Fecha Actualizacion:
- Estado: No Cumple.
- Incremento: 0
- Tipo: Funcional.
- Usuario Asociado: Usuario de la Aplicacion.

Requistitos de U

[2016-10-25 11:30] Afromatico opened #31 "RS 016: Golpe critico"
- Descripción: Implementar gráficos y formula de golpe critico de a cuerdo a convenciones de la wiki.
- Fuente: Joaquin Torres
- Prioridad: Critica
- Estabilidad: Intransable
- Fecha Actualización: 11/11/2016
- Estado: Cumple
- Incremento: 2
- Tipo: Funcional
- Usuario Asociado: Usuario

Requisitos de Usuario asociados:
1. (Link RU)
- [x] Initialization
- [x] Concept Location
- [x] Impact Analysis

[2016-10-25 11:31] Afromatico opened #32 "RS 017: Efecto dodge"
- Descripcion:Implementar efecto dodge a los ataquen en función de precisión y velocidad
- Fuente:
- Prioridad:
- Estabilidad:
- Fecha Actualizacion:
- Estado:
- Incremento:
- Tipo:
- Usuario Asociado:

Requistitos de Usuario asociados:
1. (Link RU)
- [ ] Initialization
- [ ] Concept Location
- [ ] Impact Analysis
- [ ] Prefactoring
- [ ] Change Propagation
- [ ] Verification
- [ ] Postfactoring
-

[2016-10-25 11:33] Afromatico opened #33 "RS 018: Nueva mecanica de ataque"
- Descripcion: En estos momentos se necesitan de dos botones para los asatque, debido a que este juego puede ser usado en el celular se necesita decrecer la cantidad de botones, por lo que los ataques del personaje podriabn hacerce apretando rapidamente el boton o manteniendolo apretado.
- Fuente:
- Prioridad:
- Estabilidad:
- Fecha Actualizacion:
- Estado:
- Incremento:
- Tipo:
- Usuario Asociado

[2016-10-25 18:56] martinpanza commented on #24
### Inicialization

Bug al lanzar Pokebola al enemigo.

[2016-10-25 18:58] martinpanza commented on #24
### Concept Location

-Pokeball
-Enemy

[2016-10-25 19:01] martinpanza commented on #24
### Impact Analysis

Clases que podrían verse afectadas:

-Enemy
-Hero
-Friend
-World
-GameActor
-EnemyCreator
-FLyWaveAndDropEnemy
-FollowerEnemy
-JumperEnemy
-LongRangeEnemy
-PhysicalEnemy
-StayAndShootEnemy
-Platform
-Ball
-BallActor
-Inventory
-Attacks
-MonsterFactory

[2016-10-25 19:22] belisariops opened #34 "RS 019: Efectos de sonido"
- Descripción: Agregar efectos de sonido a los saltos y ataques del personaje, estos de deben implementar con el engine utilizado EDX.
- Fuente:
- Prioridad: Critica.
- Estabilidad:
- Fecha Actualización: 27/10/2016
- Estado: No cumple.
- Incremento:
- Tipo: Restricción.
- Usuario Asociado: Cliente de la aplicación.

Requistitos de Usuario asociados:
1. [RU 009: Efectos de sonido](https://github.c

[2016-10-25 20:04] belisariops opened #36 "RS 020: Agua"
- Descripcion: Se debe agregar agua a las etapas como plataformas
- Fuente: Cliente
- Prioridad: Crítica
- Estabilidad: Intransable
- Fecha Actualizacion: 26/10/2016
- Estado: cumple
- Incremento: 1
- Tipo: Funcional
- Usuario Asociado:

Requistitos de Usuario asociados:
1. [RU 006: Crear agua](https://github.com/belisariops/ATK/wiki/Requisitos-de-Usuario#ru-006-crear-agua)
- [x] Initialization
-

[2016-10-25 20:04] belisariops opened #37 "RS 021: Comportamiento Hero en agua"
- Descripcion: Se debe agregar comportamiento hero en agua, el hero debe poder nadar en las plataformas de agua
- Fuente: Cliente
- Prioridad: Crítica
- Estabilidad: Intransable
- Fecha Actualizacion: 10/11/2016
- Estado: cumple
- Incremento: 1
- Tipo: Funcional
- Usuario Asociado:

Requistitos de Usuario asociados:
1. [RU 006: Crear agua](https://github.com/belisariops/ATK/wiki/Requisitos-de-Usua

[2016-10-25 20:06] belisariops opened #38 "RS 022: Saves corruptos"
- Descripción: No se deben cargar archivos .sav corruptos que hacen que el juego lanze un null pointer exception
- Fuente: Joaquin Torres.
- Prioridad: Crítica.
- Estabilidad: Intransable.
- Fecha Actualización: 10/19/2016 19:21:00.
- Incremento: 0.
- Tipo: Calidad.
- Tipo de usuario asociado: Usuario de la aplicación.

Requistitos de Usuario asociados:
1. [RU 011: Mejorar Sistema de Guardado BFG]

[2016-10-25 20:08] belisariops opened #39 "RS 023: Automatizacion agregado personajes"
- Descripcion:
- Fuente:
- Prioridad:
- Estabilidad:
- Fecha Actualizacion:
- Estado:
- Incremento:
- Tipo:
- Usuario Asociado:

Requistitos de Usuario asociados:
1. (Link RU)
- [ ] Initialization
- [ ] Concept Location
- [ ] Impact Analysis
- [ ] Prefactoring
- [ ] Change Propagation
- [ ] Verification
- [ ] Postfactoring
- [ ] Conclusion

[2016-10-25 20:27] belisariops commented on #30
**Initialization**

Nuevo modo de juego, donde un jugador (el heroe) se enfrenta a hordas de enemigos.

[2016-10-25 20:31] belisariops opened #40 "RS 024: Pantalla mini juegos"
- Descripción: En vez de que el botón minigame empiece un nuevo mini juego, se abrirá un menú donde estará el actual minigame y el nuevo modo survival.
- Fuente:
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualización:
- Estado: Cumple.
- Incremento: 1.
- Tipo: Funcional.
- Usuario Asociado: Usuario de la aplicación.

Requistitos de Usuario asociados:
1. [RU 008: Modo survival](htt

[2016-10-26 15:36] belisariops commented on #30
**Concept Location**

Stage, Enemy, Hero, InputController.

[2016-10-26 18:28] Afromatico commented on #15
**Initialization:**
Cada Pokemon tiene su tipo asociado.

[2016-10-26 18:32] Afromatico commented on #15
**Concept Location:**
friends, monster, bosses

[2016-10-26 18:40] Afromatico commented on #15
**Impact Analysis:**
- Friend
- AbstractFriend

[2016-10-26 18:45] Afromatico commented on #15
**Prefactoring**:
Se creo una nuevo package, se creo una interface IType, una clase abstracta Abstract Type, y se crearon todas las posibles clases para Typos conocidos de pokemon.

[2016-10-26 18:47] Afromatico commented on #15
**Changue Propagation:**
Se asigno Array de Tipos para cada friend, esto no afecto directamente a otras clases.

[2016-10-26 18:49] Afromatico commented on #15
**Verification:**
Funciona la implementación, cada pokemon se le puede asignar los tipos necesarios, se puede editar libremente, luego no necesita postfactoring.

[2016-10-26 18:51] Afromatico commented on #15
**Conclusion:**
Se agregaron los tipos de cada pokemon.

[2016-10-26 21:33] gsanhueza commented on #15
Memory leak al jugar, reabriendo issue

[2016-10-26 21:40] gsanhueza commented on #15
EDIT: Error de issue, cerrando

[2016-10-26 21:40] #15 closed, assigned to Afromatico

[2016-10-26 21:49] gsanhueza commented on #27
**Concept Location**

Options, Menu, Screen, Music

[2016-10-26 21:58] gsanhueza commented on #27
**Impact Analysis**

Clases que se podrían ver impactadas:
- SimpleScreen
- MenuScreen
- AbstractStage

[2016-10-26 22:12] gsanhueza commented on #27
**Prefactoring**

En la clase AbstractStage hay un objeto Music, la cual reproduce todas las canciones necesarias en el juego. En MenuStage está el botón de acceso a Options, pero no hay un OptionsStage, por lo que se crea uno, donde se guardan de forma estática los distintos valores de volumen, brillo y estado de la ventana.

[2016-10-26 22:13] gsanhueza commented on #27
**Change Propagation**

Las 3 clases del Impact Analysis fueron impactadas.

[2016-10-26 22:14] gsanhueza commented on #27
**Verification**

El brillo funciona correctamente y el volumen se cambia para todas las Stages.

[2016-10-26 22:15] gsanhueza commented on #27
**Postfactoring**

Se encontró un Memory Leak, porque se creaban muchos objetos por segundo, que solo se usaban una vez. Se cambió new ShapeRenderer desde "render" hacia la declaración inicial, para crearlo solo una vez.

Incremento 1:

Se creó una clase común GDXSoundEffectsPlayer. Se modificaron los _stages_ que usaban las clases GDXSoundEffects{Hero, Enemy} (MiniGameStage, AbstractStage, BossSt

[2016-10-26 22:16] gsanhueza commented on #27
**Conclusion**

El menú de opciones está implementado y es funcional respecto a todo el juego.

Incremento 1:

Se implementó la opción de modificar el sonido de los efectos especiales.

[2016-10-26 22:30] gsanhueza commented on #38
**Initialization**

Comprobar que los SAV no estén corruptos.

[2016-10-26 22:31] gsanhueza commented on #38
**Concept Location**

SAV, load, parse

[2016-10-27 19:28] Afromatico commented on #16
**Initialization:**
Cada ataque tiene un tipo asociado.

[2016-10-27 19:29] Afromatico commented on #16
**Concept Location:**
SpriteState, attacks

[2016-10-27 19:31] Afromatico commented on #16
**Impact Analysis:**
-  Todas las clases del paquete attacks.state
-  Todas las clases del paquete attacks

[2016-10-27 19:39] gsanhueza commented on #38
**Impact Analysis**

Clases que se podrían ver afectadas:
- SaveManager
- Hero
- LoadActor
- LevelReader
- GameText
- InputController
- PokeCenterScreen
- ShopScreen

[2016-10-27 19:40] gsanhueza commented on #38
**Prefactoring**

Se agregaron métodos de manipulación para el estado corruptSAV. Se creó nuevo stage llamado CorruptSAVStage. Se hizo una bifurcación en MenuScreen para llevar a CorruptSAVStage si correspondía. Se modificó SaveManager para detectar el error en la carga del archivo JSON.

[2016-10-27 19:42] Afromatico commented on #16
**Prefactoring**:
Se utilizo el paquete creado en #15 y se asigno un topo a cada Clase en atacks.state, ademas de un getter y un setter.

[2016-10-27 19:55] belisariops commented on #30
**Impact analysis**
- GameActor
- Platform
- Attacks
- EnemyCreator
- StayAndShootEnemy
- AttackDetector
- BallActor
- Formulas
- GameScreen
- SimpleScreen
- MovablePlatform
- BreakablePlatform
- MonsterFactory

[2016-10-27 19:55] Afromatico opened #49 "RS 025: Cooldown para habilidades"
Se requiere implementar un sistema de cooldown para las habilidades.
- Descripcion: Los ataques de los pokemon necesitan un tiempo de espera para poder ser utilizados.
- Fuente: Juaquin Torres, Sergio.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualizacion: 11/08/2016 15:27:00.
- Incremento: 0.
- Tipo: Funcional.
- Usuario Asociado: Usuario de la aplicación.

Requisitos de Usuario

[2016-10-27 20:01] Afromatico opened #50 "RS 026 Cambiar magia utilizada por ataques"
- Descripcion: Los ataques de los pokemon utilizan cantidad variable de Magic.
- Fuente: Joaquín Torres, Sergio.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualizacion: 06/12/2016
- Estado: Cumple.
- Incremento: 2.
- Tipo: Funcional.
- Usuario Asociado: Usuario de la aplicación.

Requisitos de Usuario asociados:
[ RU002: Agrega nuevos ataques y personajes](https://github.com/belis

[2016-10-27 20:02] martinpanza commented on #24
### Prefactoring

Se utiliza el atributo existente 'free' del enemigo para evitar al pokemon realizar ataques mientras este sea false. Por otro lado, en caso de cumplir con los requisitos de captura, se elimina al enemigo del juego al comenzar la interacción con la pokebola. En caso contrario, se desactiva el 'body' del enemigo durante la interacción. Finalmente, se desactiva el 'body' de la pokeb

[2016-10-27 20:08] martinpanza commented on #24
### Change Propagation

Clases impactadas:
-Enemy
-FlyWaveAndDropEnemy
-FollowerEnemy
-JumperEnemy
-StayAndShootEnemy
-BallActor

[2016-10-27 20:09] martinpanza commented on #24
### Verification

Se verificó utilizando todas las pokebolas posibles y se confirmó la ausencia del collider junto con los ataques . No requiere postfactoring.

[2016-10-27 20:10] Afromatico commented on #16
**Changue Propagation:**
Se asigno el tipo de cada Sprite, no afecto directamente a otras clases.

[2016-10-27 20:11] Afromatico commented on #16
**Verification:**
Funciona la implementación, a cada ataque se le puede asignar los tipos necesarios, se puede editar libremente, luego no necesita postfactoring.

[2016-10-27 20:11] Afromatico commented on #16
**Conclusion:**
Se agregaron los tipos de cada ataque.

[2016-10-27 20:11] #16 closed, assigned to Afromatico

[2016-10-27 20:17] Afromatico commented on #17
**Initialization:**
Se requiere modificar a formula de daño integrando el tipo de pokemon y el tipo del ataque.

[2016-10-27 20:17] Afromatico commented on #17
**Concept Location:**
Formula, Damage, Attack Type, Pokemon Type
@martinpanza

[2016-10-27 20:25] Afromatico commented on #17
**Impact Analysis:**

Todas las clases de los sigueintes paquetes:
- actors.attacks
- actors.attacks.states
- actors.actors.bosses
- actors.actors.enemies
- actors.actors.friend
- types
- Clase Formulas

[2016-10-27 20:28] Afromatico commented on #17
**Prefactoring**:
Se cambio la clase abstracta attacks, donde se entregan las referencias a los tipos del pokemon atacante, el tipo del pokemon atacado y el tipo del ataque como parámetros de la formula. En la formula se agregaron los efectos de las interacciones entre estas nuevas variables.

[2016-10-27 20:29] Afromatico commented on #17
**Changue Propagation:**
Se asigno el la eficacia de cada tipo de daño en el tipo de los pokemon, eso no afecto a otras clases.

[2016-10-27 20:30] Afromatico commented on #17
**Verification:**
Funciona la complementación, en el juego ahora funciona la variación de daño dependiendo del tipo de pokemon, del tipo del ataque y del tipo del pokemon afectado.

[2016-10-27 20:31] Afromatico commented on #17
**Conclusion:**
El daño fue modificado y es coherente con lo esperado.

[2016-10-27 20:31] #17 closed, assigned to Afromatico

[2016-10-27 21:16] CristobalVelasquezV commented on #34
**Initialization:**
La música se ejecuta directamente en cada etapa y no existen efectos de sonido para ninguna acción del personaje.

[2016-10-30 21:50] paolocurotto commented on #36
Agregado plataformas atravesables de color celeste que representan el agua, el juego solo detecta cuando entra y sale

[2016-10-31 20:57] AnnBenavides commented on #22
se discutió el funcionamiento de este elemento de la siguiente manera:
- Cada Stage tendrá un Clima
- Al entrar al Stage el Hero le entregará a clima su arreglo con Friends a los que se les modificará los EVs según coresponda

_Por ver: Modificar stats de friend atrapado en el stage actual, se propone que se agregue un listener a Hero en caso de atrapar un nuevo friend, recalcular los stats del eq

[2016-11-02 16:57] martinpanza commented on #24
### Conclusion

Bug arreglado, los pokemones son capturados de la forma esperada.

[2016-11-02 16:57] #24 closed, assigned to martinpanza

[2016-11-03 01:46] martinpanza commented on #50
### Inicialization

Cambiar uso de magia por ataque.

[2016-11-03 02:12] jaevespinoza commented on #18
**Initialization**
Se deben agregar los stats ´de los pokemon nuevos al juego

[2016-11-03 02:13] jaevespinoza commented on #18
**Concept Location**
Stats, New Pokemon, agregar

[2016-11-03 02:14] jaevespinoza commented on #18
**Impact Analysis**
Todo el paquete actors.actors.enemies y actors.actors.friend.

[2016-11-03 02:15] jaevespinoza commented on #18
**Pre-factoring**
Se comenzaron a definir las variables en la enumeración Enemies dentro del paquete actors.actors.friend.
Este contiene los stats de cada pokemon presente en el juego.

[2016-11-03 02:17] jaevespinoza commented on #18
**Change Propagation**
Se añadieron todos los stats correspondientes a los pokemon a añadir. Solamente fue afectada la clase Enemies.java.

[2016-11-03 02:53] Benrodf commented on #23
**Initialization:**
Crear pantalla de intercambio (llamada PC) entre los Pokemon del equipo de cuatro y el resto.

[2016-11-03 02:58] Benrodf commented on #23
**Concept Location:**
friend, allies, backupAllies, changeAllies, screen.

[2016-11-03 03:34] Benrodf commented on #23
**Impact Analysis:**
- Friend
- Hero
- Enemy
- SimpleScreen
- GameScreen
- MapScreen
- PokeCenterScreen
- MenuScreen

[2016-11-03 03:34] jaevespinoza commented on #19
**Initialization**
Se deben agregar nuevos pokemon al juego.

[2016-11-03 03:35] jaevespinoza commented on #19
**Concept Location**
Nuevo Pokemon, Juego, Agregar

[2016-11-03 03:36] jaevespinoza commented on #19
**Impact Analysis**
El paquete friends debe ser afectado, pues se están agregando clases a éste.

[2016-11-03 03:37] jaevespinoza commented on #19
**Prefactoring**
Se comienzan a agregar clases para 7 lineas de evolución Pokemon. Estas clases todavia no poseen las texturas necesarias para poder ser mostradas en el juego.

[2016-11-03 03:44] Benrodf commented on #23
**Prefactoring:**
Se creó una nueva clase PokeComputerScreen, lugar donde se realizan los intercambios de Pokemon a través del uso de indices en los arreglos del equipo y la reserva en el PC. El proceso de cambio de posicion es  gatillando al apretar el boton Swap.

[2016-11-03 03:54] Benrodf commented on #23
**Change Propagation:**
Se modificó MapSCreen para que PokeComputerScreen sea accesible durante la seleccion de etapas en el mapa, y se creó el metodo swapTeamAllies en la clase Hero, el cual es ejecutado al pulsar el boton Swap en el PokeComputer. El resto de las clases se mantuvieron intactas.

[2016-11-03 04:25] Benrodf commented on #25
**Initialization:**
Almacentamiento de más de cuatro Pokemon atrapados en clase Hero.

[2016-11-03 04:29] Benrodf commented on #25
**Concept Location:**
save, friend, allies, addAllies.

[2016-11-03 04:32] Benrodf commented on #25
**Impact Analysis:**
- Hero
- Friend
- Enemys
- BallActor
- SaveManager

[2016-11-03 04:40] Benrodf commented on #25
**Prefactoring:**
Se crea un arreglo de Friends similar a allies llamado backupAllies, allí son guardados los Pokemon por el metodo addAllies en caso de que el largo de allies sea cuatro. El metodo saveMyFriends ahora incluye a los elementos de backupAllies en el arreglo friends retornado, de manera que se guardan permanentemente.

[2016-11-03 04:45] Benrodf commented on #25
**Change Propagation:**
Solo se modificaron metodos y crearon arreglos en la clase Hero, esto no afectó directamente a otras clases.

[2016-11-03 04:52] Benrodf commented on #25
**Verification:**
Funciona la implementacion, se maneja y guarda encapsuladamente los atributos de cada Pokemon capturado, ya sea en allies o en backupAllies, lo que permitirá su posterior utilización en el sistema de intercambio PokeComputer (PC), luego no necesita postfactoring.

[2016-11-03 04:58] Benrodf commented on #25
**Conclusion:**
Se creó almacenamiento para un conjunto mayor a cuatro Pokemon en clase Hero.

[2016-11-04 00:05] #25 closed, assigned to Benrodf

[2016-11-06 20:19] gsanhueza commented on #38
**Change Propagation**

Se modificaron solo las clases:
- SaveManager
- MenuScreen
- MenuStage

[2016-11-06 20:20] gsanhueza commented on #38
**Verification**

Se probó con SAVs antiguos y corrompiendo manualmente los nuevos, se muestra correctamente la pantalla de error.

[2016-11-06 20:20] gsanhueza commented on #38
**Postfactoring**

Hasta el momento no requiere post-factoring.

[2016-11-06 20:21] gsanhueza commented on #38
**Conclusion**

Se agregó detección y aviso de SAVs corruptos.

[2016-11-06 20:23] #38 closed, assigned to gsanhueza

[2016-11-08 02:53] martinpanza commented on #50
### Concept Location

-Magic
-Attack

[2016-11-08 03:03] martinpanza commented on #50
### Impact Analysis

Clases que podrían verse afectadas:

-Todas las clases de los paquetes attacks y attacks.states
-Friend y sus subclases
-Boss
-Hero
-Enemy
-Attacks
-LeppaBerry

[2016-11-08 19:33] martinpanza commented on #50
### Prefactoring

En el método attackPrimary de la clase Hero, se llama a la clase Friend mediante un nuevo método getAttackMagicRequirement para obtener el valor que se debe restar a la magia de Hero. Cada subclase de Friend llama, a su vez, a una variable estática del ataque correspondiente con el valor a restar.

[2016-11-08 19:37] martinpanza commented on #50
### Change Propagation

Clases impactadas:
-Hero
-Friend y sus subclases
-SpriteState y sus subclases

[2016-11-08 19:41] Afromatico opened #56 "RS 027 Refactorizar Tipos de pokemon, implementarlos como Singleton"
- Descripción: Hay que cambiar la forma en que se implementaron los Tipos, hay que transformarlos en singleton para que no se sobrecargue de objetos.
- Fuente: Américo Ferrada.
- Prioridad: Deseable.
- Estabilidad: Transable.
- Fecha Actualizacion: 23/11/2016
- Estado: Cumple.
- Incremento: 2.
- Tipo: Calidad.
- Usuario Asociado: Usuario de la aplicación.

Requisitos de Usuario asociados:
[ RS 001

[2016-11-08 19:55] martinpanza commented on #50
### Verification

Se testeó con valores extremos en que Hero no perdía magia, y por otro lado, el caso en que el pokemon perdía toda la magia. Luego se utilizaron y testearon los valores que corresponden.

[2016-11-08 19:55] Afromatico opened #57 "RS 028 Implementar clase modificador"
- Descripción: Se requiere implementar un packege con clases que permitan aplicar modificadores de estados a los pokemon, se requiere que estos modificadores puedan cambiar Iv, aplicad daño o curación, modificar ratio de captura, ratio y daño de criticos, anular ataques, inmovilizar y más, esto que sea implementable con probabilidades.
- Fuente: Americo Ferrada.
- Prioridad: Critica.
- Estabilidad

[2016-11-08 19:58] martinpanza commented on #50
### Postfactoring

Se utiliza un método getter para establecer privacidad.
Podrían cambiarse los valores de acuerdo a los requerimientos del juego.

[2016-11-08 20:22] gsanhueza commented on #49
**Initialization**

Implementar cooldown de ataques.

[2016-11-08 20:22] gsanhueza commented on #49
**Concept Location**

Cooldown, Attack, Hero, Magic, Key Press

[2016-11-08 20:25] martinpanza commented on #50
### Conclusion

Cada ataque utiliza una cantidad de magia determinada

[2016-11-09 00:06] Afromatico commented on #57
Establecer sistema de estados en monster, que revisen notificaciones constantemente y maten los objetos que terminaron si efecto, utilizar mecanizamos de sincronización del motor.

[2016-11-09 21:26] #50 closed, assigned to martinpanza

[2016-11-09 21:50] martinpanza commented on #56
### Inicialization

Implementar Singleton en Tipos de Pokemon.

[2016-11-09 21:50] martinpanza commented on #56
### Concept Location

-Type
-Pokemon

[2016-11-09 22:42] Benrodf opened #59 "RS 037 Imagenes de Pokemon en PC"
- Descripcion: En caso de existir Pokemon con los atributos de vida alterados ( es decir, no en su maximo) y se hace un Swap con otro Pokemon, las imagenes quedan superpuestas, afectando el resultado final. Esto se debe a que cada vez que se realiza un Swap se dibujan todas las imagenes del arreglo de Pokemon encima de las anteriores, en lugar de hacer un "refresh" de la pantalla. Sin embargo, el

[2016-11-09 22:52] Benrodf opened #60 "RS 029: Actualizar pantalla de PC luego del Intercambio"
- Descripción: Se requiere implementar una forma de actualizar la pantalla, sin la necesidad de dibujar la imagenes de los Pokemon encima de las anteriores, de forma que se refresquen todas las imagenes y se borren las anteriores. Actualmente esto genera un bug que altera las imagenes en caso de no tener los atributos de vida en su maximo a la hora del intercambio.
- Fuente: Benjamín Rodríguez.
-

[2016-11-09 23:08] Benrodf opened #61 "RS 030: Mejorar la vista de elementos intercambiados en PC"
- Descripción: Se desea mejorar el desempeño de la pantalla PC, de manera que sea más amigable con el usuario al representar de forma clara los Pokemon disponibles para el intercambio, los seleccionados para el Swap y sus caracteristicas actuales, las cuales influyen en la elección realizada por el usuario.
- Fuente: Benjamín Rodríguez.
- Prioridad: Deseado.
- Estabilidad: Transable.
- Fecha Actua

[2016-11-10 15:12] paolocurotto commented on #36
El agua es creable de igual forma que las plataformas, se cambió la textura

[2016-11-10 15:12] #36 closed, assigned to paolocurotto

[2016-11-10 15:19] paolocurotto commented on #37
Initialization, Concept location, Impact analysis: Las clases a modificar deberían ser principalmente la de plataformas del agua y hero, el agua detecta al hero y le cambia su forma de movimiento

[2016-11-10 19:49] gsanhueza commented on #49
**Impact Analysis**

Clases que se podrían ver afectadas:
- Hero
- Attacks
- SpriteState
- Todos los states/*State
- GameActor

[2016-11-10 19:53] gsanhueza commented on #49
**Prefactoring**

Se modificó el método _attackPrimary_ para detectar cooldown correspondiente. Se agregó una variable cooldown en SpriteState con un valor _default_. Se agregó getter de SpriteState en Attacks. Se implementó un par de valores distintos de cooldown en AcidState y BranchAttackState para probar cooldown flexible.

[2016-11-10 19:59] gsanhueza commented on #49
**Change Propagation**

Se modificaron las clases:
- Hero
- Attacks
- AcidState
- BranchAttackState
- SpriteState

[2016-11-10 20:01] gsanhueza commented on #49
**Verification**

Se probó con pokemon al azar para el valor por defecto (500 ms) y con los que usaban ataques de ácido y de rama (100 y 150 ms, respectivamente.)

[2016-11-10 20:03] gsanhueza commented on #49
**Postfactoring**

Solo se requerirá cuando cada ataque necesite distintos cooldown.

[2016-11-10 20:08] gsanhueza commented on #49
**Conclusion**

Se implementó cooldowns para los ataques.

[2016-11-10 20:08] #49 closed, assigned to gsanhueza

[2016-11-10 21:16] Benrodf opened #66 "RS 031: Limitar la aparicion de imagenes en la pantalla "Load files""
- Descripción: En la pantalla donde se elige la partida (llamada Load files) se cargan la imagen de todos los Pokemon atrapados por el usuario, sobrepasando el borde de la pantalla. Se debe implementar una manera de que esto no ocurra.
- Fuente: Benjamín Rodríguez.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualizacion: 10/11/2016
- Estado: Cumple.
- Incremento: 1.
- Tipo: Calidad

[2016-11-10 21:19] Benrodf commented on #66
**Initialization:**
Evitar dibujar Pokemon atrapados fuera del borde de la pantalla.

[2016-11-10 21:22] Benrodf commented on #66
**Concept Location:**
Screen, Friend , Image, Load.
(*) No todos los lugares en que se utiliza Friend, si no sería todo el código.

[2016-11-10 21:33] Benrodf commented on #66
**Impact Analysis:**
- Screen
- LoadActor
- LoadStage
- Friend
- Hero

[2016-11-10 21:38] Benrodf commented on #66
**Prefactoring:**
Se crea un indice en el metodo draw en la clase LoadActor, ahí es donde son agregadas las imagenes de cada Pokemon guardado en el arreglo myFriends (el cual solo contiene los nombres). A través del uso del indice, se puede determinar cuando ya se han agregado las 4 primeras imagenes, y utilizando un if se evita el procesamiento de los casos siguientes.

[2016-11-10 21:40] Benrodf commented on #66
**Change Propagation:**
Solo se modificó el metodo de la clase LoadActor, de forma que no afectara a las demas clases.

[2016-11-10 21:44] Benrodf commented on #66
**Verification:**
Funciona la implementacion, solo son dibujadas las primeras 4 imagenes del arreglo donde se guardan los nombres de los Pokemon atrapados gracias al indice y la condición utilizadas. En caso de querer dibujar mas, solo es necesario modificar esa condición.

[2016-11-10 21:45] Benrodf commented on #66
**Conclusion:**
Se creó un limite igual a 4 de las imagenes de Pokemon mostradas en la pantalla "Load files".

[2016-11-10 21:45] #66 closed, assigned to Benrodf

[2016-11-10 22:13] Benrodf opened #68 "RS 032: Memory Leak en la pantalla "Load files""
- Descripción: En la pantalla "Load files", donde se elige cual archivo se quiere cargar, si uno se queda el suficiente tiempo ocurre un memory leak que hace colapsar el juego.
- Fuente: Benjamín Rodríguez.
- Prioridad:   .
- Estabilidad:  .
- Fecha Actualizacion:
- Estado: .
- Incremento: .
- Tipo: Calidad.
- Usuario Asociado: Usuario de la aplicación.

Requisitos de Usuario asociados:

- [x] Ini

[2016-11-11 20:51] Afromatico commented on #31
**Initialization:**
Los ataques tienen una probabilidad de dar un golpe critico dependiendo de las características del ataque y de el estado actual del pokemon, hay estados que aumentan esta probabilidad.

[2016-11-11 20:53] Afromatico commented on #31
**Concept Location:**
Formula, attacks, monster, Spritestate, StateEffects

[2016-11-11 20:53] Afromatico commented on #31
**Impact Analysis:**
- Friend
- AbstractFriend
- Boss
- Hero

[2016-11-11 20:57] Afromatico commented on #31
**Prefactoring**:
La parte del daño ya estaba implementada, fue modificada para agregar un factor dependiente del estado del pokemon y del ataque como tal, se lanza el sprite con clase creada en efecto de estado #57

[2016-11-11 20:58] Afromatico commented on #31
**Changue Propagation:**
Se propago variable de Critical modificator, el resto no afecta a otras clases.

[2016-11-11 21:00] Afromatico commented on #31
**Verification:**
Funciona la implementasión, los golpes críticos aparecen con cierta probabilidad dependiente del estado y de la habilidad utilizada, ademas se muestra de forma gráfica.

[2016-11-11 21:01] Afromatico commented on #31
**Conclusion:**
Se modifico la implementacion de golpes críticos, depende de mas factores y se ve de forma gráfica.

[2016-11-11 21:01] #31 closed, assigned to Afromatico

[2016-11-11 21:03] Afromatico commented on #57
**Initialization:**
Se requiere una Forma simple de aplicar un efecto por un periodo de tiempo, con una probabilidad de ocurrencia y que pueda modificar los atributos del monster y sea visible de forma gráfica.

[2016-11-11 21:05] Afromatico commented on #57
**Concept Location:**
monster, hero, boss, Enemy, Attacks

[2016-11-11 21:07] Afromatico commented on #57
**Impact Analysis:**
- Todos los que hereden de States.
- Todos los que hereden de Attacks.
- Todos los que hereden de Monsters.

[2016-11-11 21:10] Afromatico commented on #57
**Prefactoring**:
Se creo una nuevo package, se creo una interface IStateEffects, se creo clase DrawStateEffects y AbstractStateEffects, DrawStateEffects se encarga de comunicarse con monster de como mostrar en pantalla el efecto mientras dure. El resto se encarga de modificar los atributos de Friend y Hero en función de lo que requiera, ademas puede reiniciar los atributos si es necesario.

[2016-11-11 21:10] Afromatico commented on #57
**Changue Propagation:**
Se asigno Array de estados para hero, se propago llamado a super de la clase en todas las clases que heredan de monster.

[2016-11-11 21:12] Afromatico commented on #57
**Verification:**
Funciona la implementación, se pueden agregar efectos de estados dada una probabilidad, estos modifican el estado del pokemon y da las herramientas para ajustarlos a gusto del desarrollador.
Fusiona correctamente, falta agregar mas efectos de estado, pero esta fuera del alcance de la issue.

[2016-11-11 21:13] Afromatico commented on #57
**Conclusion:**
Se agregaron clase que implementa efectos de estado.

[2016-11-11 21:13] #57 closed, assigned to Afromatico

[2016-11-13 21:16] alvaroleons commented on #40
**Initialization**

Nuevo menu, en donde el usuario puede seleccionar entre el mini-juego ya implementado "Pikachu Runner", y el nuevo modo Survival.

[2016-11-13 21:17] alvaroleons commented on #40
**Concept Location**

Stage, Screen.

[2016-11-13 21:23] alvaroleons commented on #40
**Impact analysis**
- MenuScreen
- SimpleScreen
- AbstractStage

[2016-11-13 21:28] alvaroleons commented on #40
**Prefactoring**

En MenuStage está el botón de acceso a Minigame, el cual nos lleva directamente al actual mini-juego "Pikachu Runner", por lo cual se crea un stage MiniGameStage, el cual contiene botones para seleccionar entre los dos mini-juegos.

[2016-11-13 21:31] alvaroleons commented on #40
**Change Propagation**

La clase MenuScreen fue impactada.

[2016-11-13 22:07] alvaroleons commented on #68
**Initialization:**

Encontrar y detener el creciente uso de memoria en la pantalla "Load Files".

[2016-11-13 22:11] alvaroleons commented on #68
**Concept Location:**

Screen, Stage, Actors.

[2016-11-13 22:12] alvaroleons commented on #68
**Impact Analysis:**

- LoadStage
- LoadActor

[2016-11-13 22:22] alvaroleons commented on #68
**Prefactoring:**

La escena LoadStage es renderizada constantemente, y la memoria se llenava sin que exista necesariamente un cambio en la pantalla.
Esto era causado por la forma de instanciar los pokemon para cargar los iconos correspondientes a sus caras, que se hacia cada cuadro por segundo. Se descubrió como causante un método para dibujar en la pantalla, dentro de la clase LoadActor y se cor

[2016-11-15 22:12] Afromatico opened #73 "RS 033 Refactorizar clase hero"
- Descripción: Refactorizar clase hero para separar funciones dependientes de los Estados de forma más legible y eliminar if.
- Fuente: Américo Ferrada.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualizacion: 9/12/2016
- Estado: Cumple.
- Incremento: 2.
- Tipo: Funcional.
- Usuario Asociado: Desarrollador.

Requisitos de Usuario asociados:

- [x] Initialization
- [x] Concept Locat

[2016-11-16 03:44] martinpanza commented on #56
### Impact Analysis

Clases que podrían verse afectadas

-AbstractType y sus subclases
-Hero
-Enemy
-Formulas
-AbstractFriend y sus subclases
-SpriteState y sus subclases
-Attacks y sus subclases

[2016-11-16 11:59] #27 closed, assigned to gsanhueza

[2016-11-17 22:48] belisariops commented on #30
Prefactoring: Se creara el paquete gamemodes donde se crearan tres nuevas clases. SurvivalHero comprartira algunos metodos con Hero, por lo que se factorizaran algunos metodos de Hero y se creara una clase abstracta la cual implementara una interface, SurvivalHero y Hero hereden de la clase abstracta, SurvivalInputController sera creada debido a que InputController hace llamadas que no se necesita

[2016-11-18 05:11] martinpanza commented on #56
### Prefactoring

En todas las subclases de AbstractType se utiliza constructor privado junto con un metodo getInstance estático para implementar singleton. Tanto ataques como Friends deben utilizar este método a partir de ahora.

[2016-11-18 05:14] martinpanza commented on #56
### Change Propagation

Clases que fueron impactadas:

-AbstractFriend y subclases
-SpriteState y subclases

[2016-11-18 05:16] martinpanza commented on #56
### Verification

Se confirma el funcionamiento normal de la aplicación.

[2016-11-18 05:17] martinpanza commented on #56
### Postfactoring

Se propone utilización de Flyweight en vez de Singleton @Afromatico @belisariops
Se crea nuevo issue con la refactorización propuesta.

[2016-11-18 05:17] #56 closed, assigned to martinpanza

[2016-11-22 03:21] martinpanza opened #79 "RS 034 Refactorizar Types utilizando Flyweight"
- Descripción: Utilización de Flyweight Pattern para tipos de Pokemon; en las subclases de AbstractType.
- Fuente: Martín Panza.
- Prioridad: Deseable.
- Estabilidad: Transable.
- Fecha Actualizacion: 06/12/2016
- Estado: Cumple.
- Incremento: 1.
- Tipo: Calidad.
- Usuario Asociado: Usuario de la aplicación.

- [x] Initialization
- [x] Concept Location
- [x] Impact Analysis
- [x] Prefactoring
- [x

[2016-11-22 17:07] paolocurotto commented on #37
Agregado funcionalidad de las plataformas,  existen pequeños bugs

[2016-11-22 19:58] jaevespinoza opened #81 "RS 035 Arreglar el ataque de tipo hielo."
Descripción: Para algunos pokemon, el ataque de hielo colisiona con el piso (Snover por ejemplo). Es necesario arreglar esto para tener una mejor experiencia en el juego y no tener que estar saltando para atacar.
Fuente: Javier Espinoza
Fecha Actualizacion: 22/11/2016
Usuario Asociado: Usuario de la aplicación.

[2016-11-22 20:26] alvaroleons commented on #40
**Verification**

Funciona la implementación, el menú tiene la apariencia del menú principal, y los 3 botones visibles, para los 2 minigames y volver al menú, cumplen su función adecuadamente, sin memory leaks. Debería realizarse un cambio mínimo para cuando el modo Survival este implementado y que el botón correspondiente redireccione a este, el lugar en el código donde este cambio debe realizars

[2016-11-22 20:32] alvaroleons commented on #40
**Conclusion**

La implementación esta terminada, no debería ser necesario ningún cambio excepto por el botón al modo Survival que no hace nada.

[2016-11-22 20:37] #40 closed, assigned to alvaroleons

[2016-11-22 20:53] martinpanza opened #84 "RS 036 Solucionar error al hacer swap en PC"
- Descripción: En la pantalla de PokeComputer ocurre un error al hacer swap si no se tiene un Pokemon en backup. Se debe manejar el error de alguna manera.
- Fuente: Martín Panza.
- Prioridad: Deseable.
- Estabilidad: Transable.
- Fecha Actualizacion: 24/11/2016
- Estado: No cumple.
- Incremento: 0.
- Tipo: Calidad.
- Usuario Asociado: Usuario de la aplicación.

- [ ] Initialization
- [ ] Concept

[2016-11-23 19:41] martinpanza commented on #56
### Conclusion

Pokemon Types usan Singleton.

[2016-11-23 19:51] martinpanza commented on #59
### Inicialization

Arreglar actualización de imágenes de Swap en PokeComputer.

[2016-11-23 19:52] martinpanza commented on #59
### Concept Location

Update, Swap, PokeComputer

[2016-11-23 20:01] martinpanza commented on #59
### Impact Analysis

-AbstractFriend
-PokeComputerScreen
-Hero
-Enemy

[2016-11-24 01:52] alvaroleons commented on #68
**Change Propagation**

Solo la clase LoadActor fue impactada.

[2016-11-24 02:07] alvaroleons commented on #68
**Verification**

Funciona la implementación, la memoria se estabilizo sin afectar la funcionalidad de la pantalla "Load Files" .

[2016-11-24 02:10] alvaroleons commented on #68
**Conclusion**

La implementación esta terminada, no debería ser necesario ningún cambio ya que la funcionalidad de la pantalla, y sin problemas de memoria, esto para todos los computadores de quienes estamos trabajando en el proyecto.

[2016-11-24 02:11] #68 closed, assigned to alvaroleons

[2016-11-24 02:27] #59 closed, assigned to martinpanza

[2016-11-24 02:34] martinpanza commented on #60
Lo arreglé por casualidad al hacer #59

[2016-11-24 02:34] #60 closed, assigned to martinpanza

[2016-11-24 15:16] martinpanza commented on #59
### Prefactoring

Se altera el método swapPokemon. En vez de volver a mostrar las imagenes de todos los pokemones, se guardan en un arreglo detro de la clase para cambiar los indices y las posiciones en pantalla de las imágenes cada vez que se haga swap. Se dibujan llamando a stage.addActor(actor) el cual no agrega actores nuevos si ya tiene incorporado al actor que recibe por lo que solo lo actua

[2016-11-24 15:17] martinpanza commented on #59
### Change Propagation

Solo se realizaron cambios en la clase PokeComputerScreen

[2016-11-24 15:19] martinpanza commented on #59
### Verification

Se testea para pokemones con todas sus estadísticas llenas (vida y magia), pokemones con estadísticas no completas y pokemones con estadísticas vacías.

[2016-11-24 15:23] martinpanza commented on #59
### Verification

Se confirma funcionamiento y se mantiene encapsulation

[2016-11-24 15:23] martinpanza commented on #59
### Conclusion

Se soluciona el bug

[2016-12-01 20:00] gsanhueza opened #94 "RS 038: Botones de regreso a menú"
* Descripción: En el juego casi no hay forma de retornar al menú principal sin tener que cerrar el juego. Se pide implementar botones de retorno.
* Fuente: Joaquin Torres.
* Prioridad: Crítica.
* Estabilidad: Intransable.
* Fecha Actualización: 01/12/2016 16:58:00.
* Incremento: 0.
* Tipo: Funcional.
* Usuario Asociado: Usuario de la aplicación.

Requisitos de Usuario asociados:
1.  [RU 015: Boton

[2016-12-01 20:02] gsanhueza commented on #94
**Initialization**

Implementar botones para regresar al menú principal

[2016-12-01 20:03] gsanhueza commented on #94
**Concept Location**

Button, Menu, Screen, Stage

[2016-12-01 20:03] gsanhueza commented on #94
**Impact Analysis**

Clases que se podrían ver afectadas:

* GameScreen
* MapScreen
* MenuScreen
* PokeCenterScreen
* PokeComputerScreen
* ShopScreen
* SimpleScreen
* AbstractStage
* BossStage
* CorruptSAVStage
* GameStage
* LoadStage
* MapStage
* MenuStage
* MiniGameStage
* OptionsStage

[2016-12-01 20:03] gsanhueza commented on #94
**Prefactoring**

Se agregaron botones de pausa en GameStage (el juego), MapStage (al momento de elegir la etapa a jugar) y MiniStage (el mini-juego de Pikachu Runner).

[2016-12-01 20:03] gsanhueza commented on #94
**Change Propagation**

Se modificaron las clases:

* GameStage
* MapStage
* MiniStage

[2016-12-01 20:04] gsanhueza commented on #94
**Verification**

Se probó el funcionamiento del botón en cada una de las etapas, las cuales permiten volver al menú correctamente.

[2016-12-01 20:04] gsanhueza commented on #94
**Postfactoring**

No requiere postfactoring hasta ahora.

[2016-12-01 20:04] gsanhueza commented on #94
**Conclusion**

Se implementaron correctamente los botones de regreso al menú principal.

[2016-12-02 00:15] Benrodf commented on #84
Solucionado. (mas adelante completo esto)

[2016-12-02 00:15] #84 closed, assigned to martinpanza, Benrodf

[2016-12-04 22:40] Benrodf commented on #23
**Verification:**
Funciona la implementacion, se intercambian Pokemon entre los 4 disponibles para utilizar durante el juego (team Pokemon) y el grupo de los Pokemon extra capturados (backup Pokemon). Los indices del intercambio se manejan a través de 2 botones para los team Pokemon y con 4 botones para los backup Pokemon, dentro de los cuales dos son para el cambio de página en la pantalla (debid

[2016-12-04 22:42] Benrodf commented on #23
**Conclusion:**
Se creó un sistema de almacenamiento e intercambio entre los 4 Pokemon del equipo disponible para jugar y el resto de los Pokemon atrapados.

[2016-12-04 22:42] #23 closed, assigned to Benrodf

[2016-12-04 23:01] Benrodf opened #98 "RS 039: Visualización de caracteristicas de Pokemon seleccionado en PC"
- Descripcion: Mejorar la calidad de la interfaz de usuario en el PokeComputer (PC) implementando una vista de las caracteristicas del Pokemon previamente seleccionado con el indice, tales como el nombre, nivel, experiencia acumulada, tipo y todo lo que se considere necesario saber a la hora elegir racionalmente un intercambio, generando un sistema mas intuitivo para el usuario.
- Fuente: Joaquin

[2016-12-04 23:01] Benrodf opened #99 "RS 040: Seleccion de intercambio en PC con cursor"
- Descripcion: Mejorar la calidad de la interfaz de usuario en el PokeComputer (PC) reajustando el lugar de los botones a la esquina inferior derecha y permitiendo al usuario seleccionar con el cursor (mouse) los Pokemon a intercambiar (manejando sus indices). Generando un sistema mas intuitivo para el usuario.
- Fuente: Joaquin Torres, Sergio Peñafiel.
- Prioridad: Critica
- Estabilidad: Intransa

[2016-12-06 19:26] martinpanza commented on #79
### Initialization

Utilizar Flyweight para el uso de types de pokemon

[2016-12-06 19:27] martinpanza commented on #79
### Concept Location

Flyweight, Types

[2016-12-06 19:36] martinpanza commented on #79
### Impact Analysis

Clases que podrían verse afectadas:

- AbstractType y sus subclases
- AbstractFriend y sus subclases
- SpriteState y sus subclases
- Hero
- Attacks
- Boss
- Enemy

[2016-12-06 19:39] martinpanza commented on #79
### Prefactoring

Se elimina Singleton anterior para AbstractType y sus subclases y se crea la clase TypeFactory que funciona como Flyweight con Hashmap para controlar la creación de types.

[2016-12-06 19:40] martinpanza commented on #79
### Change Propagation

Clases que resultaron afectadas:

- AbstractType y sus subclases
- AbstractFriend y sus subclases
- SpriteState y sus subclases

[2016-12-06 19:42] martinpanza commented on #79
### Verification

Se comprueba que no hubo cambios en la funcionalidad del juego y la creación de tipos.

[2016-12-06 19:46] martinpanza commented on #79
### Conclusion

Se tiene Flyweight pattern.

[2016-12-06 19:46] #79 closed, assigned to martinpanza

[2016-12-06 19:49] CristobalVelasquezV commented on #34
**Concept Location:**
 Se debe implementar una clase encargada de la música y efectos de sonido que pueda almacenar una canción por etapa, los efectos de salto y ataques del personaje. La música se activara en la clase de cada etapa en cambio los efectos de sonido se activaran en la clase Hero que es la encargada de controlar los movimientos del personaje.

[2016-12-06 19:49] CristobalVelasquezV commented on #34
**Impact Analysis**

Clases afectadas:

1. Game Screen
2. Map Screen
3. MenuScreen
4. PokeCenterScreen
5. PokeComputerScreen
6. ShopScreen
7. SimpleScreen
8. Hero
9. Enemy
10. GameStage
1. Game Screen
2. Map Screen
3. MenuScreen
4. PokeCenterScreen
5. PokeComputerScreen
6. ShopScreen
7. SimpleScreen
8. Hero
9. Enemy
10. GameStage

[2016-12-06 19:49] CristobalVelasquezV commented on #34
**Prefactoring**
Se agrego el packete audio que se encarga de aplicar los sonidos en el juego, son 3 clases gdxSoundeffenemy,gdxSoundeffhero y gdxSoundeffplayer se encargan de los sonidos asociados al enemigo, al heroe y a las musicas del juego.

[2016-12-06 19:50] CristobalVelasquezV commented on #34
**Change Propagation**
Se modicaron las clases:

1. Game Screen
2. Map Screen
3. MenuScreen
4. PokeCenterScreen
5. PokeComputerScreen
6. ShopScreen
7. SimpleScreen
8. Hero
9. Enemy
10. GameStage
1. Game Screen
2. Map Screen
3. MenuScreen
4. PokeCenterScreen
5. PokeComputerScreen
6. ShopScreen
7. SimpleScreen
8. Hero
9. Enemy
10. GameStage
11. Packete items

[2016-12-06 19:51] CristobalVelasquezV commented on #34
**Verification**
Se termino de agregar efectos de sonido a los menus en la parte del codigo.

[2016-12-06 19:51] #94 closed, assigned to gsanhueza

[2016-12-06 19:52] CristobalVelasquezV commented on #34
**Postfactoring**
No requiere postfactoring hasta el momento.

[2016-12-06 19:53] CristobalVelasquezV commented on #34
**Conclusion**
Efectos de sonido implementados con GDX.

[2016-12-06 20:45] jaevespinoza commented on #19
**Change Propagation:**

Se modificaron las clases:
MonsterFactory
Enemies
ChooseStage

[2016-12-06 20:45] jaevespinoza commented on #19
**Verification**

Se agregaron los pokemon necesarios

[2016-12-06 20:46] jaevespinoza commented on #19
**Post factoring**

Arreglar setCutSprites para que cada sprite pueda caber.

[2016-12-06 20:46] jaevespinoza commented on #19
**Conclusión**

Pokemon agregados al juego

[2016-12-06 20:47] #19 closed, assigned to jaevespinoza

[2016-12-08 00:13] paolocurotto commented on #37
- Agregado animación al agua, la textura del agua esta compuesta por 32 imagenes para darle la animación.

- Arreglado bug al tener 2 o más bloques de agua juntos

- Agregado interacción del agua para enemigos

[2016-12-11 22:18] paolocurotto commented on #37
Bugs por arreglar:

- Al salir del agua, si el hero está tocando todo el tiempo una plataforma este hace un salto corto en vez de un salto normal. Arreglado, al final no era un bug

- Al salir del agua, el hero puede pasar demasiado tiempo en el aire aun con la posibilidad de hacer un salto normal, debería pasar que el hero al salir del agua no se aleje de la superficie y ahi haga el salto normal

[2016-12-13 22:25] Afromatico commented on #81
Lo solucioné agregando 0.3 a la altura inicial.

[2016-12-13 22:25] #81 closed, assigned to martinpanza

[2016-12-13 22:29] Afromatico commented on #32
Se converso con los clientes, y no aprovaron esta Issue

[2016-12-13 22:29] #32 closed, assigned to Afromatico

[2016-12-13 22:30] #2 closed, assigned to belisariops

[2016-12-14 18:58] AnnBenavides opened #113 "RS041: Animaciones para clima"
Descripcion: Implementar expresión visible para los climas en las etapas
Fuente: @AnnBenavides
Prioridad:
Estabilidad:
Fecha Actualizacion: 14/12/2016 18:00
Incremento: 0
Tipo: Funcional
Requistitos de Usuario asociados: RU004: Clima

[] Initialization
[] Concept Location
[] Impact Analysis
[] Prefactoring
[] Change Propagation
[] Verification
[] Postfactoring
[] Conclusion

[2016-12-14 18:59] AnnBenavides commented on #22
Postfactoring:

-[RS041: Animaciones para Clima](https://github.com/belisariops/ATK/issues/113)

[2016-12-14 19:00] #22 closed, assigned to AnnBenavides

[2016-12-14 22:37] #37 closed, assigned to paolocurotto

[2016-12-15 14:09] Afromatico commented on #21
**Initialization:**
Se requiere implementar nuevos tipos de ataques a los pokemon

[2016-12-15 14:10] Afromatico commented on #21
**Concept Location:**
Attacks, states, friends

[2016-12-15 14:11] Afromatico commented on #21
**Impact Analysis:**
- Todos los que hereden de States.
- Todos los que hereden de Attacks
- GameActor
- GameStage
- Hero
- Boss
- Friends

[2016-12-15 14:30] Afromatico opened #116 "RS 049 Implementar Ataque en area."
- Descripción: Se requiere implementar un ataque que afecte a otros monsters en aun área al rededor del pokemon, este debe gastar mana por segundo y terminar cuando este se agote.
- Fuente: Américo Ferrada.
- Prioridad: Critica.
- Estabilidad: Intransable.
- Fecha Actualizacion: 9/12/2016
- Estado: Cumple.
- Incremento: 4.
- Tipo: Funcional.
- Usuario Asociado: Usuario.

Requisitos de Usuario asoc

[2016-12-15 14:31] Afromatico commented on #21
**Prefactoring**:
Se creo una issue especial para aplicar efectos de estados alterados
#57
Se implemento un nuevo tipo de ataque
#116

[2016-12-15 14:39] Afromatico commented on #116
**Initialization:**
Se requiere un nuevo ataque que aplique efectos en área, gaste mana por segundo.

[2016-12-15 14:39] Afromatico commented on #116
**Concept Location:**
Attacks

[2016-12-15 14:41] Afromatico commented on #116
**Impact Analysis:**
-Attacks
-Hero
-Monsters
-Enemy
-Boss

[2016-12-15 14:49] Afromatico commented on #116
**Prefactoring**:
Se creo la clase AreaEffectAttack, esta aplica damage a una lista de monsters a un ritmo constante.
Comunica mediante metodo sing que el monster esta aplicando un efecto de estado.
Se requirió refactorizar hero para cambiar como se comporta respecto a señales dependiendo de su estado.
Se creo para esto la issue #73

[2016-12-15 14:51] Afromatico commented on #116
**Changue Propagation:**
Se implemento el metodo sing y unsing para todos los Monsters.

[2016-12-15 14:54] Afromatico commented on #116
**Verification:**
Funciona la implementación, se puede utilizar un ataque de efecto de estado, este reduce el mana por segundo y aplica los efectos también por segundo, cuando se llama este ataque, comunica al monster que lo han llamado, luego cuando finaliza o cuando se acaba la el mana comunica que termino.

[2016-12-15 14:54] Afromatico commented on #116
**Conclusion:**
Se agregaron ataque de que afecta en área.

[2016-12-15 14:54] #116 closed, assigned to Afromatico

[2016-12-15 15:07] Afromatico commented on #73
**Initialization:**
Se requiere cambiar Hero para cambiar como se comporta dependiendo de su estado.

[2016-12-15 15:18] Afromatico commented on #73
**Concept Location:**
Hero

[2016-12-15 15:18] Afromatico commented on #73
**Impact Analysis:**
-Hero
-Input Controller

[2016-12-15 15:33] Afromatico commented on #73
**Prefactoring**:
Se creo package actor.heroState, donde se creo un abstract Statehero, luego se movieron métodos de hero a esta nueva clase.

[2016-12-15 16:54] #34 closed, assigned to CristobalVelasquezV

[2016-12-15 18:11] belisariops commented on #33
Se decidio no realizar este requisito, debido a que no complementa ni un RU.

[2016-12-15 18:11] #33 closed, assigned to belisariops

[2016-12-15 18:11] jaevespinoza commented on #18
**Verification**
Los stats correspondientes a cada pokemon son correctos

[2016-12-15 18:12] belisariops commented on #30
Change Propagation: Ni una clase se vio afectada

[2016-12-15 18:12] jaevespinoza commented on #18
**Postfactoring**

Se añadió cada stat a la clase del pokemon correspondiente

[2016-12-15 18:12] belisariops commented on #30
Verification: Funciona correctamente, falta abstaraer algunas clases.

[2016-12-15 18:13] jaevespinoza commented on #18
**Conclusion**

Los stats fueron implementados correctamente.

[2016-12-15 18:13] #18 closed, assigned to jaevespinoza

[2016-12-15 18:13] belisariops commented on #30
Postfactoring: Se abstagieron algunas clases como el platform creator.

[2016-12-15 18:14] belisariops commented on #30
Conclusion: este equisito podria ser revisitado, para realizar refactoring de heroe y survivalHeroe

[2016-12-15 18:14] #30 closed, assigned to belisariops

[2016-12-15 18:23] alvaroleons commented on #98
**Initialization**

Nuevos actor en PokeComputer, en donde el usuario puede observar las distintas características de sus pokemon para elegir su equipo.

[2016-12-15 18:24] alvaroleons commented on #98
**Concept Location**

Screen, Actors.ui

[2016-12-15 18:27] alvaroleons commented on #98
**Impact analysis**

- PokeComputerScreen
- SimpleScreen
- Actor

[2016-12-15 18:50] alvaroleons commented on #98
**Prefactoring**

Se crea un actor llamado FriendInfo, el cual corresponde a un cuadro con la información relevante de un pokemon, que se puede actualizar cuando se desee.
Se agregaron dos de estos actores al PokeComputerScreen, uno correspondiente al equipo y el otro al backup, y se actualiza cada vez que un indice de selección cambia.

[2016-12-15 18:51] alvaroleons commented on #98
**Change Propagation**

La clase PokeComputerScreen fue impactada.

[2016-12-15 19:02] alvaroleons commented on #98
**Verification**

Funciona la implementación, la interfaz tiene mejor apariencia, se probaron distintas posibles combinaciones de selección de pokemon y se cambio para que sea mas amigable con el usuario, y libre de bugs.

[2016-12-15 19:08] alvaroleons commented on #98
**Conclusion**

La implementación esta terminada, interfaz del PokeComputer es mucho mas amigable con el usuario y no debería ser necesario ningún cambio.

[2016-12-15 19:08] #98 closed, assigned to alvaroleons

[2016-12-15 20:49] Benrodf commented on #99
**Initialization:**
Mejorar la interfaz de usuario en el PokeComputer (PC) al implementar la seleccion de indice para Swap al clickear la imagen del Pokemon.

[2016-12-15 20:52] Benrodf commented on #99
**Concept Location:**
PokeComputer, Screen, UI,  Friend.
(*) No todos los lugares en que se utiliza Friend, si no sería todo el código.

[2016-12-16 05:00] Benrodf commented on #99
**Impact Analysis:**
- PokeCenterScreen
- Friend
- Hero
- TeamFriendImage

[2016-12-16 08:10] Benrodf commented on #99
**Prefactoring:**
Se asocia un elemento de tipo InputListener a las objetos TeamFriendImage y se ajusta sus bordes clickeables, de manera que al utilizar el cursor sobre estos se gatille la funcion que cambia el indice utilizado en Swap.

[2016-12-16 08:12] Benrodf commented on #99
**Change Propagation:**
Solo se modificó PokeComputerScreen en la forma como se construyen sus elementos y los Listener asociados a aquellos actores. El resto de las clases se mantuvieron intactas.

[2016-12-16 08:47] Benrodf commented on #99
**Verification:**
Funciona la implementacion, se puede verificar el cambio de indices al clickear la imagen.

[2016-12-16 08:48] Benrodf commented on #99
**Conclusion:**
Se crea el sistema de seleccion con el cursor (mouse) de los Pokemon a utilizar con el boton Swap.

[2016-12-16 08:48] #99 closed, assigned to Benrodf

[2016-12-16 08:52] Benrodf commented on #61
Esto fue realizado en los Requisitos de Software RS 039 y RS 040, donde se muestra los elementos seleccionados actualmente para el Swap con sus caracteristicas respectivas y se hace una seleccion mas intuitiva de los Pokemon elegidos por medio del cursor.

[2016-12-16 08:52] #61 closed, assigned to nobody

[2016-12-19 06:57] chantezan commented on #26
Initialization: Se necesita el boton new game que cree un juego automaticamente y que el boton load game solo cargue juegos

[2016-12-19 06:58] chantezan commented on #26
concept location: new game, LoadGame

[2016-12-19 07:01] chantezan commented on #26
impact analisis: MenuScreen,LoadStage

[2016-12-19 07:03] chantezan commented on #26
prefactoring: Se modifico la clase loadStage para que solamente cargue los juegos creados, y la clase MenuScreen para que al apretar el boton newGame se cree un juego automaticamente y se guarde.

[2016-12-19 07:04] chantezan commented on #26
Change Propagation: LoadStage, MenuScreen

[2016-12-19 07:04] chantezan commented on #26
verification: ambos botones se comportan correctamente y realizan las funciones solicitadas

[2016-12-19 07:05] chantezan commented on #26
conclusion: una mejora verificada al juego

[2016-12-19 07:05] #26 closed, assigned to chantezan

[2016-12-19 07:06] chantezan commented on #28
initialization: se necesita que se puedan guardar N juegos

[2016-12-19 07:06] chantezan commented on #28
concep location: LoadStage

[2016-12-19 07:07] chantezan commented on #28
impact analisis: LoadStage

[2016-12-19 07:11] chantezan commented on #28
prefactoring: Primero se modifico la forma en que se guardan los juegos, si el ultimo archivo es ATK6.sav el proximo juego guardado se llamara ATK7.sav ambos guardados en la carpeta Save, con esto ya se pueden guardar N juegos, en la clase LoadStage al iniciar se cargan todos los archivos .sav, guarda los titulos en un array. para seleccionar los juegos cada vez que la flecha se mueve se cargan lo

[2016-12-19 07:12] chantezan commented on #28
change propagation: LoadStage, Actor.

[2016-12-19 07:12] chantezan commented on #28
verification: se guardan N juegos y es posible poder cargar cuaquiera de esos N juegos

[2016-12-19 07:13] chantezan commented on #28
conclusion: la issue esta cerrada y no hay ningun problema en la cargada de juegos ni tampoco al crear un nuevo juego.

[2016-12-19 07:13] #28 closed, assigned to chantezan